* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: white;
}

#header {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#header .logo {
    color: blueviolet;
    font-size: 10px;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
}

#header ul li {
    list-style-type: none;
    margin-left: 20px;
    text-decoration: none;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(69, 69, 47);
    border-radius: 5px;
    
}
#header ul li a:hover,
#header ul li a.active
{
    background: grey;
    color: white;

}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 10;
}

section {
    position: relative;
    width: 100%;
    min-height: 190vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section #text {
    position: absolute;
    color: burlywood;
    font-size: 6vw;
    line-height: 0.7em;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
   

}

section a {
    cursor: pointer;
    font-size: 12px;
    background: green;
    display: inline-block;
    color: white;
    border-radius: 8px 30px;
   font-size: 1.2em;
   font-weight: 500;
   border-radius: 40px;
    border: 2px solid black;
    transform: translateY(100px);
    

}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

.sec {
    position: relative;
    padding: 100px;
    background: #094b65;
    color: white;
}

.sec h2 {
    font-size: 3.5em;
}

.sec p {
    font-size: 1em;
}